@{
    ViewBag.Title = "Home Page";
}

<div class="product-info">
    <img src="~/img/VanGogh.jpg" />
    <h3>Mug</h3>
    <ul class="product-props">
        <li>Price: $9</li>
        <li>Artist: Van Gogh</li>
        <li>Title: Starry Night</li>
        <li>Description: Night with starries</li>
    </ul>
    <button id="btnBuy">Buy</button>
</div>

<div>
    <div id="loginToggle">Login</div>
    <form class="popup-form">
        <div>
            <label>Username</label>
            <input />
        </div>
        <div>
            <label>Password</label>
            <input type="password" />
        </div>
        <div>
            <input type="checkbox" />
            <label>Remember me?</label>
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>
    </form>
</div>

