@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-9">
        <div class="product-info">
            <img src="~/img/VanGogh.jpg" />
            <h3>Mug</h3>
            <ul class="product-props">
                <li>Price: $9</li>
                <li>Artist: Van Gogh</li>
                <li>Title: Starry Night</li>
                <li>Description: Night with starries</li>
            </ul>
            <button id="btnBuy" class="btn btn-success">Buy</button>
        </div>
    </div>
    <div class="col-md-3">
        <p>This is a fun site for wasting lot's of money.'</p>
    </div>
</div>
